<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=STALKER\MSSQL2008R2;Initial Catalog=Pharma;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <machineKey   validationKey="B5D7173C5DB89D5123C4B57D1793B9DBFC35AE983FB990A115D1C17CE0AFE2283AC9874031FC8CE30FCD2FDD1EE73BD12D72F884AF96901249684ACD9F69A0AC"
        decryptionKey="F4CEAF4B40ABEC4FF8ED241034AB4CB80A07A2FA83419C8F9C1536E31994EC31"
        validation="SHA1" decryption="AES" />

    <authorization>
      <deny users="?" />
    </authorization>
    
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/CustomLogin.aspx" timeout="2880" /> 
    </authentication>

    <membership defaultProvider="PharmaMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="PharmaMembershipProvider" type="ASPNET.Account.PharmaMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

  </system.web>

  <location path="~/SecuredPages">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="~/Account/ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
